<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Skillray</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/Content/datepicker.css" rel="stylesheet" />
    <link href="~/Content/localStyle.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Tacho.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        <style>.YBFooterSpecial p {color:#fff;text-align:center; font-size:10px; padding-top:125px;}.YBFooterSpecial a {color:#fff;font-size:10px;}a.yellbusfoot:hover {color:#fff;}</style><div class="YBFooterSpecial"><p>This website was developed by  <a class="yellbusfoot" href="http://www.yellowbus.co.uk/">Yellowbus Solutions Ltd.</a> provider of <a href="http://www.yellowbus.co.uk/StaticPage/464/software-development.html">Software Development Solutions</a>, <a href="http://www.yellowbus.co.uk/StaticPage/485/it-support-warrington.html">IT Support</a>, and <a href="http://www.yellowbus.co.uk/StaticPage/478/it-projects-and-support-security.html">Security</a> & <a href="http://www.yellowbus.co.uk/StaticPage/463/it-support-and-projects.html">Business Development Solutions.</a> </p></div>
    </footer>
</body>
</html>
