@model TachoReaderLicensingWebsite.DataModel.Models.loginViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="min-height:830px;">
<div class="loginDiv">
    <div class="row-fluid">
        <div class="span12 text-center">
            <h2>Login</h2>
        </div>
    </div>
    @using (Html.BeginForm())
    {
    
        <div class="row-fluid">@Html.ValidationSummary(false, null, new { @class = "" })</div>
    
        <div class="row-fluid">
            <div class="span3">
                <label for="user">User</label>
            </div>
            <div class="span9">
                @Html.AntiForgeryToken()
                @Html.TextBoxFor(model => model.username, new { @class = "input-block-level" })
            </div>
        </div>

        <div class="row-fluid">
            <div class="span3">
                <label for="password">Password</label>
            </div>
            <div class="span9">
                @Html.PasswordFor(model => model.password, new { Id = "mainPassword", @class = "input-block-level" })
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 text-center">
                <input type="submit" class="btn btn-danger " value="Log In &raquo;" />
            </div>
        </div>
    }
</div>
</div>

