<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SkillrayEntities" connectionString="metadata=res://*/TschoReadeerLicensingWebsiteDb.csdl|res://*/TschoReadeerLicensingWebsiteDb.ssdl|res://*/TschoReadeerLicensingWebsiteDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YBWKS006\SQLEXPRESS;initial catalog=Skillray;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SkillrayEntities1" connectionString="metadata=res://*/TachoReaderLicensingWebsite.csdl|res://*/TachoReaderLicensingWebsite.ssdl|res://*/TachoReaderLicensingWebsite.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YBWKS006\SQLEXPRESS;initial catalog=Skillray;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>