<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\Webcal.DataModel\packages.config" />
  <repository path="..\Webcal.PrintWorker\packages.config" />
  <repository path="..\Webcal.Shared\packages.config" />
  <repository path="..\Webcal.Tests\packages.config" />
  <repository path="..\Webcal\packages.config" />
</repositories>